root {
    --font-200: komet, sans-serif;
    font-weight: 200;
    font-style: normal;
    
    --font-400: komet, sans-serif;
    font-weight: 400;
    font-style: normal;

    --font-700: komet, sans-serif;
    font-weight: 700;
    font-style: normal;

    --font-900: komet, sans-serif;
    font-weight: 900;
    font-style: normal;
}

*,
*::before
*::after {
    box-sizing: border-box;

}


body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: ropa-mix-pro,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
}

h2 {
    font-family: ropa-mix-pro,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

p {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: ropa-mix-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
   
    font-size: 1rem;
    color: white;
}

.nav-container {
    background-color: #283dbc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0;
  
  
   
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.logo-image {
    max-width: 10rem;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/higgins-background.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    margin-top: 0;
    max-height: 100%;
   
}

.hero-item {
    display: grid;
    width: 100%;
  
}


.higgins-logo {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
   }

.hero-text {
    color: white;
    margin: 4rem auto auto auto;
    font-size: 1.5rem;
    text-align: center;
    font-family: komet, sans-serif; 
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 10px black;;
}


.about-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-image: url("images/about-top-small.svg");
    background-position: top;
    background-repeat: repeat-x;
    background-size: auto 4rem, auto;
    margin-top: 0;
    padding: 0;
    background-color: #d24209;
  
}

.about-item {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    width: 90%;
    margin: auto auto auto auto;
    text-align: center;
  
    
    
}

.about-header {
    
    margin: 0;
    padding: 0;
}

.about-subheader {
   
    margin: 0;
    padding: 0;
}



@media (min-width: 1200px) {
    
    
    .about-item {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        padding-top: 4rem;
        width: 1000px;
        margin: auto auto auto auto;
        text-align: center;
    }


}